h1,
h2,
h3 {
	color: #4aaaa5;
}

button.navbar-toggle {
	background-color: white;
}

label {
	color: #555;
}

.icon {
	width: 60px;
	height: auto;
	color: none;
	border-right: none;
}

/* Rotates social icon in contacts on hover. */

.icon:hover {

	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
}

.box {
	display: inline-block;
	width: 100%;
	height: 10%;
	margin: 0%;
}
/* Rotates project in portfolio on hover. */

.box:hover {
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
}

.project {

	float: left;
	position: relative;
	top:	-10px;
	width: 100%;
}

.project-title {
	float: left;
	position: relative;
	top: -80px;
	width: 100%;
	height: 35px;
	padding-top: 5px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

.container .text-muted {
	padding-top: 20px;
}

.list-group {
	margin-bottom: 0;
}

.list-group-item {
	margin-left: 2%;
	margin-right: 2%;
}

.page-header {
	border-bottom: 2px solid #ccc;
	margin: 20px 0 25px;
}

.page-header h1 {
	color: #4aaaa5;
}

.navbar-default {
	background-color: #4aaaa5;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-nav li a {
	color: #f5f5f5;
}

.navbar-default .navbar-nav li a:hover {
	color: #777;
	background-color: #ddd;
}

.navbar-default .navbar-nav .active a {
	color: #ffffff;
	background-color: #777;
}

.panel-title {
	color: #4aaaa5;
}

.link-hover-color {
	color: blue;
}

.img-thumbnail {
	margin-bottom: 15px;
}

.btn-default {
	color: #ffffff;
	background-color: #4aaaa5;
}

.btn-default:hover {
	color: #ffffff;
	background-color: #777;
}